@using AutoservisSystem.Shared
@using AutoservisSystem.Shared.Models

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="panel @(Collapsed ? "collapse": "" ) ">
    <h4 style="padding-left:15px;">Autá</h4>
    <br />
    @if (Customer.Cars != null)
    {
        foreach (Car car in Customer.Cars)
        {
            <div class="panel-body" style="padding-top: 15px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1"><b>@car.CarEvidenceNumber</b></div>
                        <div class="col-sm-1"><b>@car.Brand</b></div>
                        <div class="col-sm-1"><b>@car.ModelType</b></div>
                        <div class="col-sm-3"><b>Posledná výmena oleja:</b> @car.LastOilChange.ToString("dd.MM.yyyy")</div>
                        <div class="col-sm-4"><b>STK platná od:</b> @car.LastSTK.Date.ToString("dd.MM.yyyy") <b>do:</b> @car.LastSTK.AddYears(2).ToString("dd.MM.yyyy")</div>
                    </div>
                </div>
            </div>
            <br />
        }
    }

</div>


@code{
    [Parameter]
    public bool Collapsed { get; set; } = true; // hide by default
    [Parameter]
    public Customer Customer { get; set; }


    public void Dispose()
    {
       
    }
}
